# Build & binary
bin/
build/
out/
target/
*.class
*.jar

# IDE / Editor
.vscode/
.idea/
*.iml
*.classpath
*.project
.settings/

# Sistem OS
.DS_Store
Thumbs.db

# Log & temporary
*.log
*.tmp

.gradle/
.gradle-cache/
.mvn/
